
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 10px 20px;
}
nav li:first-child img{
    height: 20px;
}

nav li:first-child{
    margin-right: auto;
}

nav li:last-child{
    margin-left: auto;
}

nav li button{
    color: white;
    background-color: blue;
    padding: 5px 10px;
    border: 0px;
    border-radius: 20px;
}

section {
    padding-top: 150px;
    display: flex;
    flex-wrap:wrap;
}

section h1 {
    margin-left: 150px;
    font-size: 40px;
}

section .img1 {
    height: 400px;
    width: 60vw;
    border-radius: 20px;
    margin-left: auto;
    object-fit: cover;
    transform: translate(20%,-10%);
}

section .img2 {
    height: 500px;
    width: 60vw;
    border-radius: 20px 20px 0px 0px;
    margin-right: auto;
    object-fit: cover;
    transform: translate(-20%,-30%);
}

main {
    display: grid;
    grid-template-columns: 50% 50%;

}

main .right img {
    border-radius: 20px;
}

main .left {
    display: grid;
    padding: 30px;
    grid-template-rows: repeat(5,20%);
}

main .left .option {
    display: grid;
    grid-template-columns: 20% 80%;
    /* border: black solid; */
}

main .left .option img {
    width: 50%;
    height: auto;
    object-fit: cover;
    padding: 20px;
}

main .left .option .content {
    padding-top: 20px ;
    text-align: left;
}

.property {
    margin-top: 100px;
    margin-left: 100px;
}

.property h1 {
    font-size: 50px;
}

.cards {
    display: grid;
    grid-template-columns: 40% 40%;
    margin-top: 20px;
    
}

.card {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: bisque;
    border-radius: 4%;
    margin-right: 10px;
}

.card img {
    width:100%;
}

.feature {
    display: grid;
    grid-template-rows: repeat(5,20%);
    padding: 10px;
}

.feature h1 {
    display: flex;
    align-items: center;
    font-size: 25px;
    padding-left: 20px;
}

.feature_content {
    display: grid;
    grid-template-columns: 30% 70%;
}

.feature_content img {
    display: flex;
    align-items: center;
    width: 70%;
}

.feature_content p{
    display: flex;
    align-items: center;
    font-weight: bold;

}
.customer {
    margin-top: 30px;
    margin-left: 30px;
}

.customer h1 {
    font-size: 50px;
    font-weight: bolder;
}

.customer p {
    font-size: 30px;
    font-weight: bold;
    color: chocolate;
}

.testimonials {
    display: grid;
    grid-template-columns: 45% 45%;
}

.testimonials_left img {
    width: 80%;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 10%;
}

.testimonials_right {
    display: flex;
    align-items:center ;
    font-size: 24px;
    color: brown;
}

.article {
    margin-top: 50px;
}

.article_cards {
    display: grid;
    grid-template-columns: repeat(3,33.33%);
    margin-top: 20px;

}

.article_card img {
    width: 80%;
    border-radius: 10%;
    height: 250px;
    object-fit: cover;
}

.article_content {
    padding: 20px;
    background-color: blanchedalmond;
    border-radius: 5%;
    width: 65%;
    transform: translate(10%,-70%);
}

.article_content .head {
    display: flex;
    justify-content: space-between;
}
footer {
    margin-top: 40px;
    background-color: cornflowerblue;
    border-radius: 20px 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

footer header {
    display:  flex;
    justify-content: space-between;
}

footer header h1 {
    margin-left: 100px;
    margin-top: 100px;
}
footer header button {
    margin-top: 100px;
    margin-right: 100px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: 0px;
    color: white;
    background-color: blue;
}

footer .content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4,25%);
}
footer .content ul {
    width: 80%;
    margin-left: 100px;
}
footer .content li {
    margin-top: px;
}
footer .content ul li:first-child{
    font-size: 20px;
}
footer .copyright{
    margin-top: 50px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
footer .copyright img{
    width: 400px;

}